/* div{
    height: 600px;
    background-color: #ede9d0;
    position: relative;
}
h1{
    padding: 80px 0 0 110px;
    color: #1d2a14;
    font-size: 48px;
    font-weight: 300;
}
p{
    font-size: 20px;
    font-weight: 300;
    padding: 15px 0 0 110px;
    color: #1d2a14;

}
div h2{
    position: absolute;
    bottom: 0;
    font-size: 150px;
    opacity: 0.2;
margin-left: 150px;
} */
